html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1; 
}
/* #smallVideo {
  width: 400px; 
  height: 400px; 
  margin: 650px 35vw;  

} */
#smallVideo {
  width: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
/* .content {
  height: 2000px; 
}
.container {
  /* position: relative; */
  /* width: 100vw; 
  height: 100vh; 
} */ 
